<% layout("/layouts/boilerplate")%>
<style>
  .show_page_main_div {
    max-width: 700px;
    margin: 1rem auto;
    min-height: 100vh;
  }

  .show_page_img_div {
    width: 100%;
    height: 500px;
  }

  .show_page_img_div img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  .show_page_details_div {
    margin: 1rem 0;
  }

  .show_page_details_div p {
    font-size: 1.5rem;
    margin-top: 0.25rem;
    word-break: break-all;
    word-wrap: break-word;
    color: #000;
  }

  .edit_delete_btns_div {
    display: flex;
    align-items: center;
  }

  .edit_delete_btns_div form:nth-of-type(1) {
    margin-right: 1rem;
  }

  .edit_delete_btns_div form button {
    outline: none;
    border-radius: 10px;
    font-size: 1rem;
    border: none;
    background-color: #000;
    color: #fff;
    padding: 1rem;
    cursor: pointer;
  }

  /********************* review form styling ***********************/
  .review_form_div p {
    font-size: 3.5rem;
    margin: 3rem 0;
    text-align: center;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
  }

  .review_form_div form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .review_form_div form input {
    width: 20%;
    outline: none;
    padding: 0.5rem;
  }

  .review_form_div form textarea {
    margin: 1rem 0;
    padding: 1rem;
    outline: none;
  }

  .review_form_div form button {
    padding: 1rem;
    background-color: #000;
    font-size: 1rem;
    border-radius: 10px;
    color: #fff;
    outline: none;
    border: none;
    width: 20%;
  }

  /********************* actual reviews styling ***********************/
  .actual_reviews_div {
    margin: 2rem 0;
  }

  .individual_review {
    border: 2px solid #000;
    padding: 1rem;
    margin-bottom: 1rem;
  }

  .individual_review p {
    word-wrap: break-word;
    word-break: break-all;
  }

  .individual_review form {
    margin-bottom: 0.25rem;
  }

  .individual_review form button {
    background-color: red;
    padding: 0.5rem 1.5rem;
    border: none;
    outline: none;
    color: #fff;
    font-size: 12px;
    border-radius: 10px;
  }

  #map {
    width: 500px;
    height: 500px;
    border: 2px solid #000;
  }

  /************************** responsive css layout ******************************/
  @media (max-width: 800px) {
    .show_page_main_div {
      max-width: 500px;
    }

    .show_page_details_div p {
      font-size: 1.25rem;
    }

    .edit_delete_btns_div form button {
      padding: 0.5rem 2rem;
    }

    .review_form_div p {
      font-size: 2.5rem;
    }

    .review_form_div form button {
      width: 40%;
      padding: 0.5rem;
    }
  }

  @media (max-width: 375px) {
    .show_page_main_div {
      max-width: 300px;
    }

    .show_page_img_div {
      height: auto;
    }

    .edit_delete_btns_div form button {
      padding: 0.7rem;
      font-size: 1rem;
    }

    #map {
      width: 100%;
      height: 300px;
      border: 2px solid #000;
    }
  }
</style>
<script>
  const mapToken = "<%= process.env.MAP_TOKEN %>";
  const listing =  <%- JSON.stringify(listing) %>;
  console.log("listing json", listing);
</script>

<div class="show_page_main_div">
  <div class="row mt-2 mb-3">
    <div class="col-8">
      <!-- -----------------------  Listing Title ----------------------- -->
      <h5 class="card-title"><b><%=listing.title %></b></h5>
    </div>
    <div class="card">
      <div class="card" style="width: 50rem">
        <div class="show_page_img_div">
          <img
            class="card-img-top"
            src="<%=listing.image.url %>"
            alt="listing-image"
            class="show-img"
            style="height: 25rem"
          />
        </div>

        <div class="show_page_details_div">
          <p><b>Owner : </b><%= listing.owner.username %></p>
          <p><b>Title : </b><%= listing.title %></p>
          <p><b>Description : </b><%= listing.description %></p>
          <p><b>Price : </b>&#8377;<%= listing.price %></p>
          <p><b>Location : </b><%= listing.location %></p>
          <p><b>Country : </b><%= listing.country %></p>
        </div>

        <div class="card-body">
          <div class="card-text">
            <!-- -----------------------  Condition to Display Listing  ----------------------- -->
            <%if(currUser && currUser._id.equals(listing.owner._id)) {%>
            <div class="col-1 offset-1 edit_delete_btns_div">
              <form action="/listings/<%=listing._id%>/edit" method="GET">
                <button class="btn btn-danger">Edit listing</button>
              </form>
              <br />
              <form
                method="POST"
                action="/listings/<%=listing._id%>?_method=DELETE"
              >
                <button class="btn btn-outline-primary deleteListingConfirm">
                  Delete
                </button>
              </form>
            </div>
            <% } %>
            <!------------------- review edit and delete buttons ---------------------------!>

            <% if(currUser){ %>
            <div class="form-group mb-3 mt-3 review_form_div">
              <hr />
              <hr />
              <h3>Leave a Rating</h3>
              <form action="/listings/<%=listing._id%>/reviews" method="POST">
                <!-- ----------------------- Ratings  ----------------------- --!>
                <div class="mb-3 mt-3">
                  <label for="rating">Rating </label>
                  <fieldset class="starability-slot">
                    <input
                      type="radio"
                      id="no-rate"
                      class="input-no-rate"
                      name="review[rating]"
                      value="1"
                      checked
                      aria-label="No rating."
                    />
                    <input
                      type="radio"
                      id="first-rate1"
                      name="review[rating]"
                      value="1"
                    />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input
                      type="radio"
                      id="first-rate2"
                      name="review[rating]"
                      value="2"
                    />

                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input
                      type="radio"
                      id="first-rate3"
                      name="review[rating]"
                      value="3"
                    />

                    <label for="first-rate3" title="Average">3 stars</label>
                    <input
                      type="radio"
                      id="first-rate4"
                      name="review[rating]"
                      value="4"
                    />

                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input
                      type="radio"
                      id="first-rate5"
                      name="review[rating]"
                      value="5"
                    />

                    <label for="first-rate5" title="Amazing">5 stars</label>
                  </fieldset>
                </div>
                <!-- -----------------------  Comments  ----------------------- --!>

                <div class="mb-3 mt-3">
                  <label for="comment"> Comments </label>
                  <textarea
                    class="form-control"
                    name="review[comment]"
                    id="comment"
                    cols="30"
                    rows="10"
                    required
                  ></textarea>
                  <div class="invalid-feedback">
                    Please add some comments for review
                  </div>
                </div>
                <!-- -----------------------  Submit review ----------------------- --!>

                <div class="mb-3 mt-3">
                  <button class="btn btn-outline-primary">Submit Review</button>
                </div>
              </form>
            </div>
          </div>
          <% } %>
          <hr />
          <!-- ----------------------- Display Reviews  ----------------------- --!>

          <% if(listing.reviews.length>0){ %>
          <div>
            <h2>All reviews</h2>
            <div class="row actual_reviews_div">
              <% for(review of listing.reviews){ %>
              <div class="card col-6 mb-3">
                <div class="card-body">
                  <h5 class="card-title">@<%=review.author.username%></h5>
                  <p
                    class="starability-result card-text"
                    data-rating="<%=review.rating %>"
                  >
                    Rated: 3 stars
                  </p>

                  <p class="card-text"><%=review.comment %></p>
                </div>
                <form
                  class="mb-3 offset-1"
                  action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE"
                  method="POST"
                >
                  <button class="btn btn-sm btn-dark">Delete</button>
                </form>
              </div>
              <% } %>
            </div>
          </div>
          <% } %>
          <div class=" ">
            <h3>Where You will be</h3>
            <div id="map"></div>
          </div>
        </div>
      </div>
    </div>

    

    <!-------------------- mapbox script functionality-------------------------->
            <script src="/js/map.js"></script>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
